<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center; color:#00759C">User Login</mat-card-title>
    <mat-tab-group  class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content>
          <form [formGroup]="farmerForm">
            <mat-form-field>
              <input matInput formControlName="username" placeholder="Username" ngDefaultControl>
              <mat-icon matSuffix style="color: #00759C">email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="password" placeholder="Password" ngDefaultControl>
              <mat-icon matSuffix style="color: #00759C">lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button
              mat-raised-button
              color="primary"
              class="login-button" (click)="signIn()">
              Sign In
            </button>

          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form [formGroup]="LoginForm">
            <mat-form-field>
              <input
                matInput
                placeholder="User Name"
                required
                name="username"
                formControlName="username"
                ngModel
              >
              <mat-icon matSuffix style="color: #00759C">perm_identity</mat-icon>

            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="User Email"
                required
                name="email"
                formControlName="email"
                ngModel
              >
              <mat-icon matSuffix style="color: #00759C">email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="User Contact"
                formControlName="phoneNo1"
                required
                name="phoneNo1"
                ngModel
              >
              <mat-icon matSuffix style="color: #00759C">lock</mat-icon>

            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="Password"
                required
                minlength="3"
                formControlName="password"
                name="password"
                ngModel
              >
              <mat-icon matSuffix style="color: #00759C">lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="login-button"
              (click)="addUser()"
            >
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
