<div class="main-part">
  <div class="cpanel">
    <div class="icon-part">
      <i class="fa fa-users" aria-hidden="true"></i><br>
      <small>Members</small>
      <p>985</p>
    </div>
    <div class="card-content-part">
      <a href="#">More Details </a>
    </div>
  </div>
  <div class="cpanel cpanel-green">
    <div class="icon-part">
      <i class="fa fa-money" aria-hidden="true"></i><br>
      <small>Account</small>
      <p>$ 452</p>
    </div>
    <div class="card-content-part">
      <a href="#">More Details </a>
    </div>
  </div>
  <div class="cpanel cpanel-orange">
    <div class="icon-part">
      <i class="fa fa-bell" aria-hidden="true"></i><br>
      <small>Alert</small>
      <p>11 New</p>
    </div>
    <div class="card-content-part">
      <a href="#">More Details </a>
    </div>
  </div>
  <div class="cpanel cpanel-blue">
    <div class="icon-part">
      <i class="fa fa-tasks" aria-hidden="true"></i><br>
      <small>Task</small>
      <p>85</p>
    </div>
    <div class="card-content-part">
      <a href="#">More Details </a>
    </div>
  </div>
  <div class="cpanel cpanel-red">
    <div class="icon-part">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
      <small>Cart</small>
      <p>$ 45</p>
    </div>
    <div class="card-content-part">
      <a href="#">More Details </a>
    </div>
  </div>
  <div class="cpanel cpanel-skyblue">
    <div class="icon-part">
      <i class="fa fa-comments" aria-hidden="true"></i><br>
      <small>Mentions</small>
      <p>104</p>
    </div>
    <div class="card-content-part">
      <a href="#">More Details </a>
    </div>
  </div>
</div>
